*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	background: rgb(8,186,115);
	background: linear-gradient(180deg, rgba(8,186,115,0.9500175070028011) 7%, rgba(6,128,79,0.7987570028011204) 34%, rgba(172,172,172,1) 57%, rgba(125,125,125,0.9332107843137255) 92%);
}
.tela{/*Tela geral */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 1200px;
	height: 600px;

	font-family: arial;
	color: white;

}
.corpo{/*Corpo da div de cliques e upg */
	margin: 20px;

	width: 900px;
	height: 500px;

	background-color: #61390e;
	box-shadow: inset 0 0 1em black;
	display: inline-block;
}
.left_corpo{/*Area de cliques e save */
	width: 45%;
	height: 100%;

	display: inline-block;
	box-shadow: inset 0 0 1em black;
}
.left_corpo h1{/*Texto de cima */
	font-size: 20pt;
	margin-top: 10px;
	text-align: center;
}
.corpo .left_corpo h3{/*Produção atual */
	text-align: center;
	font-size: 10pt;
}
#var_atual{/*Valor atual de produção */
	margin-top: 10px;
	font-size: 12pt;
}
.clica{/*Div da imagem clicavel */
	margin-top: 20px;
	margin-bottom: 40px;
	
	width: 80%;
	height: 300px;

	display: block;
}
.botao{/*Imagem clicavel */
	width: 80%;
}

.save{/*Botão de save e load */
	width: 30%;
	height: 30px;
	display: inline-block;
	font-size: 12pt;
	margin-right: 10px;
}


.right_corpo{/*div da area de upgs em geral */
	width: 50%;
	height: 100%;
	display: inline-block;
	float: right;

	box-shadow: inset 0 0 1em black;
}
.right_corpo h1{/*Upgrades */
	font-size: 20pt;
	text-align: center;
	margin-top: 10px;
}
.upg_store{/*Div dos upg de cursor e construção */
	height: 15%;
	width: 100%;
	
	margin: 25px 0px 45px 0px;
	box-shadow: inset 0 0 1em black;
}
.store{/*Div da area de compra de construções */
	width: 100%;
	height: 60%;
	
	overflow: hidden;
	overflow-y: scroll;
	box-shadow: inset 0 0 1em black;

}
.UPG{/*Classe dos botoes de upg */
	width: 90%;
	height: 50px;
	margin-top: 20px;
	margin-left: 20px;
	display: block;
	border: 1px solid gray;
	background-color: white;
	box-shadow: inset 0 0 1em gray;
}
.UPG a{
	display: none;
	font-size: 12pt;
	color: black;
	margin: 16px 35px 0 10px;
}
.UPG:hover a{
	display: inline-block;
}
.UPG h1{
	color: black;
}
.UPG:hover h1{
	display: none;
}
.UPG:hover{
	background-color: lightgray;
}
.UPGC{/*Classe dos upg de cursor */
	margin: 10px 0 0 0 ;
	width: 60px;
	height: 25px;
}



.master_inf{/*Div da area de informações */
	display: inline-block;
	width: 220px;
	height: 500px;

	float: right;
	margin: 20px 20px 0 10px;
}
#informacoes{/*Botao de informações */
	font-size: 12pt;
	font-weight: bold;

	color: orangered;
	background-color: lightgray;

	border: 1px solid white;

	width: 28px;
	height: 25px;

	display:block;
}
#informacoes:hover{
	background-color: gray;
}
#corpo_inf{/*Div da area de informações gerais */
	background-color: #EEAD2D;
	box-shadow: inset 0 0 1em black;
	margin-top: 17px;

	width: 220px;
	height: 400px;

	border: 3px solid gray;
	display: none;

}
.top_inf{/*Parte superior da area de informações */
	width: 200px;
	height: 345px;
	display: block;
}
.inf_gerais{/*Texto das informações gerais */
	font-size: 12pt;
	margin-top: 15px;
	margin-left: 12px;
}
.inf_version{/*Informações inferior da versão do jogo */
	font-size: 8pt;
	font-weight: lighter;
	margin: 20px 0 0 5px;
}
