*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	background: rgb(8,186,115);
	background: linear-gradient(180deg, rgba(8,186,115,0.9500175070028011) 7%, rgba(6,128,79,0.7987570028011204) 34%, rgba(172,172,172,1) 57%, rgba(125,125,125,0.9332107843137255) 92%);
}
.corpo{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-90%, -70%);

	width: 700px;
	height: 400px;

	background-color: #61390e;
	box-shadow: inset 0 0 1em black;
}
.left{
	width: 45%;
	height: 100%;

	display: inline-block;
	box-shadow: inset 0 0 1em black;
}
.corpo .left h1{
	font-family: arial;
	font-size: 20pt;
	margin-top: 10px;
	color: white;
	text-align: center;
}
.corpo .left h3{
	text-align: center;
	font-size: 10pt;
	font-family: arial;
	color: white;
}
.clica{
	margin-top: 20px;
	margin-bottom: 40px;
	
	width: 80%;
	height: 200px;

	display: block;
}
.botao{
	width: 80%;
}
#var_atual{
	margin-top: 10px;
	font-size: 12pt;
	font-family: arial;
	color: white;
}
.save{
	width: 30%;
	height: 30px;
	display: inline-block;
	font-family: arial;
	font-size: 12pt;
	margin-right: 10px;
}


.right{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: right;

	box-shadow: inset 0 0 1em black;
}
.right h1{
	font-family: arial;
	font-size: 20pt;
	text-align: center;
	margin-top: 10px;
	color: white;
}
.UPG{
	width: 60%;
	height: 35px;
	margin-top: 30px;
	display: block;
}
.UPGC{
	margin: 10px 0 0 0 ;
	width: 60px;
	height: 25px;
}
#Upg_1:hover{
	background-color: gray;
}
.right center a{
	font-size: 8pt;
	font-family: arial;
	color: white;
	display: block;
}

#informacoes{
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;

	color: orangered;
	background-color: lightgray;

	border: 1px solid white;

	width: 28px;
	height: 25px;

	position: absolute;
	left: 760px;
	top: 40px;
}
#informacoes:hover{
	background-color: gray;
}
#corpo_inf{
	background-color: #EEAD2D;
	box-shadow: inset 0 0 1em black;
	margin-top: 17px;

	width: 200px;
	height: 350px;

	border: 3px solid gray;
	display: none;

	position: absolute;
	left: 760px;
	top: 60px;
}
.top_inf{
	width: 200px;
	height: 300px;
	display: block;
}
.inf_gerais{
	font-family: arial;
	font-size: 12pt;
	color: white;
	margin-top: 15px;
	margin-left: 12px;
}
.inf_version{
	font-size: 8pt;
	font-weight: lighter;
	margin: 20px 0 0 5px;
}
